
html, body {
    height: 100%;
    margin: 0;
  }
h1 {
    color: red;
}

#main-title {
    font-size: 35px;
}

.flex-blogs {
    display: flexbox;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
  
  .outer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0990e4; /* Background color for the flexbox */
    border: 1px solid #00229f;
    margin: 15px;
  }
