<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Portfolio</title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <div class="image-box">
      <img src="static/images/computer-science.jpg" alt="glasses in front of laptop with code">
      <h1 id="big-title">Bettino Gaussaint</h1>
      <h2>Software Engineer</h2>
      <div class="button-links">
        <button class="circular-button">
            <img src="static/images/linkedin_logo.png" alt="Icon" class="button-icon">
        </button>
        <button class="circular-button">
            <img src="static/images/github_logo.png" alt="Icon" class="button-icon">        
        </button>
      </div>
      <audio controls autoplay loop src="static/sounds/Running up that hill no copyright.mp3" id="music-player">
        Your browser does not support the audio element.
        </audio>
    </div>
  </body>
</html>
